/* Colors */
:root {
  --orange: #E4572E;
  --aqua: #17BEBB;
  --yellow: #FFC914;
  --dark: #2E282A;
  --green: #76B041;
  --white: #ffffff;
}

/* Fonts */
/* Font Family */
h1,
h2,
h3,
h4 {
  font-family: 'Galindo';
}

p,
li,
th,
td,
label,
input,
legend,
div {
  font-family: 'Hind Guntur', sans-serif;
}

footer {
  font-family: 'Tillana', sans-serif;
}

/* Font Size */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p,
li,
footer {
  font-size: 16px;
}

#weatherAlert {
  display: none;
  background-color: var(--orange);
  padding: 1px 0;
}

/* Body */
body {
  padding: 0 5px;
}

/* Header */
/* Logo */
header {
  background-color: var(--green);
}

img.logo {
  display: block;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  display: block;
  margin: 10px auto;
  text-align: center;
}


/* Navigation */
nav {
  background-color: var(--aqua);
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: bold;
}

nav,
ul,
li,
a {
  display: block;
  color: var(--dark);
  text-decoration: none;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav li:first-child {
  display: block;
}

.nav li {
  display: none;
  font-size: 24px;
}

.nav a {
  display: block;
  padding: .75rem;
  text-decoration: none;
}

.nav a:hover,
.navactive {
  background-color: var(--yellow);
  color: var(--dark);
}

.responsive li {
  display: block;
}

/* Main */
main {
  display: grid;
  max-width: 31em;
  margin: 0 auto;
  align-content: center;
}

picture {
  margin: 0 auto;
}

img.mainImage {
  width: 100%;
  height: auto;
}

/* Rental Summary */
/* Table */
table {
  border-spacing: 0;
}

table th {
  background-color: var(--yellow);
}

table td {
  text-align: center;
}

table td.desc {
  text-align: left;
}

table.rentalSummary td,
th {
  border: solid 1px grey;
  padding: 2px 2px;
}

img.scootIcon {
  width: 15px;
  height: auto;
}

/* Reservation Aside */
aside.sidebar {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
}

aside.sidebar form {
  margin-left: 75px;
}

input.reservationButton {
  display: block;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 20px;
}

aside.sidebar h3 {
  margin: 0 auto;
  padding: 10px 0px;
}

aside.sidebar h4 {
  margin: 0 auto;
}

aside.sidebar p {
  margin: 0 auto;
  padding: 5px 0px;
}

iframe {
  width: 300px;
}

/* Footer */
footer {
  display: grid;
  max-width: 31em;
  background-color: var(--green);
  line-height: 3em;
}

footer section {
  text-align: center;
}

/* Reservation */
form.reservation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form fieldset {
  width: 250px;
}

.inlb {
  display: block;
  padding: 8px 12px;
}

.iDoWhatIWant {
  width: auto;
}

form textarea {
  display: block;
  color: var(--dark);
  font-size: 16px;
  border: solid 1px grey;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}

form label.top,
form div {
  display: block;
  padding-top: 15px;
  color: var(--dark);
  font-size: 16px;
}

form input.button {
  background-color: var(--orange);
  color: var(--white);
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px grey;
  width: 96%;
  max-width: 15rem;
}

/* Tours */
.articleImg {
  width: 200px;
  height: auto;
  float: right;
  padding: 15px;
}


/* Curent Weather */
table.currentWeather {
  background-color: var(--aqua);
  padding: 5px;
  font-size: 18px;
}

.tdLeft {
  text-align: right;
  vertical-align: middle;
  color: var(--dark);
}

.tdRight {
  text-align: left;
  vertical-align: middle;
  color: var(--dark);
}

.tdCenter {
  color: var(--yellow);
  vertical-align: middle;
}

/* Forecast */
section.forecast {
  display: none;
}
