﻿body {
  max-width: 720px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

header,
footer {
  background-color: rgb(102, 116, 99);
  color: #ffffff;
  text-align: center;
  padding: 1.0rem;
  border-radius: 10px;
}

img {
  top: 15px;
  right: 15px;
  width: 200px;
  height: auto;
  float: right;
}

.section {
  border-bottom: 3px solid gray;
}