@media only screen and (min-width: 66em) {
    .nav {
        display: flex;
    }

    .nav li {
        display: block;
        flex: 1 1 auto;
        font-size: larger;
    }

    .nav a {
        text-align: center;
    }

    .nav li:first-child {
        display: none;
    }

    main{
        display: block;
        align-items: center; 
        margin: 0% 15% 0% 15%;
    }

    img {
        width: 250px;
        height: auto;
      }
      
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .placeHolder{
        font-size: 16px;
    }
    footer {
        font-size: 16px;
        margin: 0% 15% 0% 15%;
    }
}