main {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  margin: 0px 5px 0px 5px;
}

header,
footer {
  background-color: #103548;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

footer, footer a {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  color: #FFCE8B;
}

.mainArticle {
  margin: 10px 15px 10px 15px;
  text-align: justify;
  padding: 0 20px;
  background-color: #5D8BA3;
}

/*General fonts size and color */
header,
footer,
nav,
ul,
li {
  font-family: 'Roboto', sans-serif;
}

aside {
  display: block;
}

h1,
h2,
h3,
h4,
form {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-size: 24px;
  color: #FFCE8B;
  margin: 15px 0px 0px 10px;
}

h2 {
  font-size: 18px;
  text-align: left;
}

.headerh3 {
  font-size: 14px;
  font-style: italic;
  color: #FFCE8B;
  margin: 0px 0px 0px 10px;
}

/* Town Cards */
div.towns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

div.towns {
  padding: 5px 0;
}

main div section div section img {
  width: 96%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;;
}

main section div section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #FFCE8B;
}

div.info, div.info h2 {
  text-align: center;
  width: 100%;
}

p {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 12px;
}

fieldset {
  border: none;
}


/*Nav rules */
nav {
  background-color: #FFCE8B;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
}

nav,
ul,
li,
a {
  display: block;
  color: #051E2B;
  text-decoration: none;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav li:first-child {
  display: block;
}

.nav li {
  display: none;
}

.nav a {
  display: block;
  padding: .75rem;
  text-decoration: none;
}

.nav a:hover {
  background-color: #5D8BA3;
  color: #FFCE8B;
}

.navactive {
  color: #FFCE8B;
  background-color: #234E66;
}

.responsive li {
  display: block;
}

/*Image rules*/
header picture img.logo {
  width: 175px;
  height: auto;
  box-shadow: none;
}

img {
  width: 200px;
  height: auto;
}

picture.heroImage {
  display: block;
  width: 96%;
  margin: 0 2%;
}

main picture.heroImage img {
  width: 100%;
}

.mainDiv {  
  position: relative;
}

.galleryDiv{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.currentSummary {
  position: absolute;
  top: 1rem;
  background-color: seagreen;
  opacity: .8;
  padding: 5px;
  margin: 0 0 0 20px;
}

.forecast {
  display: none;
}

img[data-src] {
  filter: blur(5px);
}

picture img {
  filter: blur(0);
  transition: filter 0.5s;
}

figcaption {
  background-color: #FFCE8B;
  text-align: center;
  line-height: 2em;
  width: 200px;
}

figure img:hover {
  box-shadow: 10px 10px 5px #5D8BA3;
}

.articleImg {
  width: 200px;
  height: auto;
  float: right;
  padding: 15px;
}

img.contactImg {
  display:none;
}

img.wireframeMobile {
  width: 300px;
  height: auto;
  box-shadow: none;
}

img.wireframeLarge {
  width: 600px;
  height: auto;  
  box-shadow: none;
}

/*----------- FORM -----------*/  
textarea {
  box-shadow: 2px 2px 2px grey;
}

.brakemold {
  width: auto;
}

form input.button {
  margin-left: 15px;
  background-color: #0571ec;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  font-family: 'Hind', sans-serif;
  width: 96%;
  max-width: 15rem;
}

form legend{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

form label.top, form div {
  display: block;
  padding-top: 15px;
  color: rgb(43, 42, 42);
  font-size: 16px;
}

form label.top input, form label.top select, form textarea {
  display: block;
  color: rgb(43, 42, 42);
  font-size: 16px;
  border: solid 1px grey;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}

form label.inlb {
  display: block;
  padding: 8px 12px;
}

/*
form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;

}
*/