main {
  display: grid;
  padding: 2px 0px 2px 0px;
}

body {
  max-width: 720px;
  margin: 0 auto;
  font-family: 'Sawarabi Gothic', sans-serif;
}

header,
footer,
nav,
ul,
li {
  font-family: 'Roboto', sans-serif;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: #3C6B84;
}

h1,
h2,
h3 {
  font-family: 'Hind', sans-serif;
}

p {
  font-family: 'Sawarabi Gothic', sans-serif;
}

img {
  width: 200px;
  height: auto;
}

td {
  padding: 10px 10px 10px 10px;
}

nav,
ul,
li,
a {
  display: block;
  color: #FFCE8B;
  text-decoration: none;
}

nav {
  background-color: #3C6B84;
  text-align: center;
  color: #FFCE8B;
  padding: 1px 0px 1px 0px;
}

nav a:hover {
  background-color: #FFCE8B;
  color: #3C6B84
}

nav a:active {
  background-color: #103548;
  color: #D09558
}

.lastUpdate {
  color: #f5f5f5
}

.bulleted {
  color: black;
}

/* Typography class settings */
.h1 {
  font-size: 30px;
}

.h2 {
  font-size: 24px;
}

.h3 {
  font-size: 18px;
}

.p {
  font-size: 16px;
}

.header {
  font-size: 35px;
}

.nav {
  font-size: 18px;
}

.footer {
  font-size: 16px;
}

/*Primary Color*/
.pc1 {
  background-color: #5D8BA3;
  color: whitesmoke;
}

.pc2 {
  background-color: #3C6B84;
  color: whitesmoke;
}

.pc3 {
  background-color: #234E66;
  color: whitesmoke;
}

.pc4 {
  background-color: #103548;
  color: whitesmoke;
}

.pc5 {
  background-color: #051E2B;
  color: whitesmoke;
}

/*Secondary 1 Colors*/
.sc11 {
  background-color: #FFCE8B;
}

.sc12 {
  background-color: #D09D58;
}

.sc13 {
  background-color: #A07131;
}

.sc14 {
  background-color: #724B15;
  color: whitesmoke;
}

.sc15 {
  background-color: #442904;
  color: whitesmoke;
}

/*Secondary 2 Colors*/
.sc21 {
  background-color: #FFC68B;
}

.sc22 {
  background-color: #D09558;
}

.sc23 {
  background-color: #A06931;
}

.sc24 {
  background-color: #724415;
  color: whitesmoke;
}

.sc25 {
  background-color: #442404;
  color: whitesmoke;
}

@media only screen and (min-width: 37.5em) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 60em) {}